<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.yixiangblog.cordova.share"
        version="1.0.1">

    <name>Simple Share</name>

    <description>Send message (subject, text, image) to Android's native share dialog</description>
    <keywords>share, image, android</keywords>
    <license>LGPL v.3</license>

    <author>Yi Xiang</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">

        <config-file target="config.xml" parent="/*">
    		<feature name="SimpleShare">
    			<param name="android-package" value="com.yixiangblog.cordova.share.Share"/>
    		</feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <provider android:authorities="${applicationId}.simpleshare.provider" android:exported="false" android:grantUriPermissions="true" android:name="com.yixiangblog.cordova.share.FileProvider">
                <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/simpleshare_paths" />
            </provider>
        </config-file>

        <js-module src="www/share.js" name="SimpleShare">
            <clobbers target="plugins.simpleshare" />
        </js-module>

        <source-file src="src/android/Share.java" target-dir="src/com/yixiangblog/cordova/share" />
        <source-file src="src/android/FileProvider.java" target-dir="src/com/yixiangblog/cordova/share" />
        <source-file src="src/android/simpleshare_paths.xml" target-dir="res/xml"/>
        <framework src="com.android.support:support-v4:24.1.1+" />
    </platform>

</plugin>
